{{#block "header"}}
    <h1 style="background-color: red">Title</h1>
{{/block}}

{{#block "content"}}
{{/block}}

{{#block "footer"}}
    <h1 style="background-color: green">Powered by Handlebars.java</h1>
{{/block}}